p {
  font-family: Lato;
}

.block {
  flex: 33.33%;
  height: 200px;
  padding: 10px;
  margin: 5px;
  min-height: 100px;
}


.container {
  display: flex;
}

.center {
  background-color: rgb(210, 190, 236);
}

.orange {
  background-color: rgb(233, 215, 183);
}

.green {
  background-color: rgb(188, 228, 188);
}
